<!doctype html>
<html ng-app="app">
<head>
    <link rel="stylesheet" type="text/css" href="rzslider.min.css">
    <script src="jquery-3.1.1.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="Chart.min.js"></script>
    <script src="angular.js"></script>
    <script src="angular-chart.min.js"></script>
    <script src="tempGraphApp.js"></script>
    <script src="jquery.csv.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="ui-bootstrap-tpls-2.2.0.min.js"></script>
    <script src="rzslider.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<div class="col-md-12 well">
    <div ng-controller="DateCtrl">
        <div>
            <rzslider rz-slider-model="slider.min"
                      rz-slider-high="slider.max"
                      rz-slider-options="slider.options"
                      onchange="change()"></rzslider>
        </div>
    </div>
</div>
<div class="col-md-6 well">
    <div ng-controller="TempCtrl">
        <h3>Temperature: {{currentTemp | number:1}}&degF
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="update()">
                Update
            </button>
        </h3>
        <canvas id="temp" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-click="onClick" ng-if="data">
        </canvas>
    </div>
</div>
<div class="col-md-6 well">
    <div ng-controller="HumidCtrl">
        <h3>Humidity: {{currentHumid | number:0}}%
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="update()">
                Update
            </button>
        </h3>
        <canvas id="humid" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-click="onClick" ng-if="data">
        </canvas>
    </div>
</div>

<div class="col-md-6 well">
    <div ng-controller="BaroCtrl">
        <h3>Pressure: {{currentBaro | number:2}}inHg
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="update()">
                Update
            </button>
        </h3>
        <canvas id="baro" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-click="onClick" ng-if="data">
        </canvas>
    </div>
</div>

<div class="col-md-12 well">
    <div ng-controller="DepartureCtrl">
        <h3>{{from}} to {{to}} costs {{lowest.cost | currency}} with {{lowest.airline}}
        </h3>
        <canvas id="departure" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-click="onClick" ng-if="data" height="110">
        </canvas>
    </div>
</div>

<div class="col-md-12 well">
    <div ng-controller="ReturnCtrl">
        <h3>From {{from}} to {{to}} costs {{lowest.cost | currency}} with {{lowest.airline}}
        </h3>
        <canvas id="return" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-click="onClick" ng-if="data" height="110">
        </canvas>
    </div>
</div>

<div class="col-md-12 well">
    <div ng-controller="RoundTripCtrl">
        <h3>Roundtrip from {{from}} to {{to}} and back costs {{lowest.cost | currency}} per leg with {{lowest.airline}}
        </h3>
        <canvas id="round" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-click="onClick" ng-if="data" height="110">
        </canvas>
    </div>
</div>
</body>
</html>
